@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <h2>How to</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=699562">Add an appsetting in config and access it in app.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699318">Add client packages using Bower.</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
         <h2>Api Ajax Test</h2>
      
            <div class="col-md-2">
                <label>Api-Token: </label>
             </div>
             <div class="col-md-10">
                <input type="text" name="apiToken" id="apiToken" placeholder="some token" value="advadvfvdfvafvafdbv" />
            </div>
            <div class="col-md-2">
                <label>From: </label>
             </div>
             <div class="col-md-10">
                <input type="text" name="from" id="from" placeholder="John Doe <someone@eample.com>" value="someone@eample.com" />
            </div>
            <div class="col-md-2">
                <label>To: </label>
             </div>
             <div class="col-md-10">
                <input type="text" name="to" id="to" placeholder="John Doe <someone@eample.com>" value="someone@eample.com"/>
            </div>
            <div class="col-md-2">
                <label>Cc: </label>
             </div>
             <div class="col-md-10">
                <input type="text" name="cc" id="cc" placeholder="John Doe <someone@eample.com>" value="someone@eample.com"/>
            </div>
            <div class="col-md-2">
                <label>Bcc: </label>
             </div>
             <div class="col-md-10">
                <input type="text" name="bcc" id="bcc" placeholder="John Doe <someone@eample.com>" value="someone@eample.com"/>
            </div>
            <div class="col-md-2">
                <label>Subject: </label>
             </div>
             <div class="col-md-10">
                <input type="text" name="subject" id="subject" placeholder="Hello Mail!" value="Subject"/>
            </div>
            <div class="col-md-0">
                <label>Body: </label>
             </div> 
             <div class="col-md-10">
                <input type="text" name="body" id="body" placeholder="Hello Mail!" value="Body"/>
            </div> 
            <div class="col-md-0">
                <label>Is HTML: </label>
             </div> 
             <div class="col-md-10">
                <input type="text" name="isHtml" id="isHtml" placeholder="true" value="true"/>
            </div>
            <div class="col-md-0">
                <button id="form_submit">Senden</button>

                <script> 
               
              $("#form_submit").click(function(){
                var apiToken = $("#apiToken").val();	

                var from = $("#from").val();	
                var to = $("#to").val();	
                var cc = $("#cc").val();	
                var bcc = $("#bcc").val();	
            
                var subject = $("#subject").val();
                var body = $("#body").val();
                var isHtml = $("#isHtml").val();		
            

                var url = "/api/Smtp?from="+from+"&to="+to+"&subject="+subject+"cc="+cc+"&bcc="+bcc+"&isHtmlBody="+isHtml+"&api-token="+apiToken;

                var dataType = "text/plain";
                var contactName = $("#contact-name").val();
                var contactMail = $("#contact-email").val();
                var contactMessage = $("#contact-message").val();
                var data = "Name: " + contactName + "\nE-Mail: " + contactMail + "\nNachricht:\n" + contactMessage;
            
                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function(){
                        $(".success_message").show();
                        $("#overlay").fadeOut();
                    },
                    error: function(){
                        $(".error_message").show();
                        $("#overlay").fadeOut();
                    },
                    contentType: "text/plain"
                });
                $("#contact-name").val("");
                $("#contact-email").val("");
                $("#contact-message").val("");
                $("#overlay").fadeIn();
                return false;
            });

        </script>
        </div>
             
        
    </div>
    <div class="col-md-3">
    </div>
</div>
